{% extends "base.html" %}

{% block content %}
<body>
    <div class="container">
        <h1 class="text-center">Welcome to the Auslan translator</h1>
    </div>

    {% if success_message %}
            <div class="alert alert-success">
                {{ success_message }}
            </div>
    <h2>View all your uploads <a href="/upload-panel"> here </a></h2>
        {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
</body>
{% endblock %}
