{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center">Video Details</h1>
    <div class="row">
        <div class="col">
            <h3>Original Video</h3>
            <video width="300" controls>
                <source src="{{ selected_video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col">
            <h3>Processed Video</h3>
            <video width="300" controls>
                <source src="{{ processed_video_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
{% endblock %}